@page "/upload-dialog"
@using IDCARDS.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Uploaded Success fully</h1>

<p>Waiting for auto refresh...</p>



@code {
    

    
}
