@page "/"

<PageTitle>Index</PageTitle>

<h1>Id Cards Generator App</h1>
<h2>Disclaimer</h2>
  This App is only available for use in Gombe State University,however it shall not be dessiminated, distributed or shared for
  any commercial purposes or other than intended

<SurveyPrompt Title="How to Generate Id Cards?" />
